/* Header */
.site-header {
    align-items: center;
    border-bottom: 1px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    width: 100%;
}
    @media screen and (max-width: 42rem) {
        .site-header {
            margin-bottom: 3rem;
        }
    }

.post-page-header {
    margin-bottom: 2rem;
}

.site-navigation-list {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
}
    @media screen and (max-width: 42rem) {
        .site-navigation-list {
            gap: 1rem;
        }
    }

.site-navigation-list li {
    margin: 0;
}
    @media screen and (max-width: 42rem) {
        .site-navigation-list li:first-child {
            display: none;
        }
    }

.site-header-link {
    border: 0 none;
    font-size: 0;
    text-decoration: none;
}

.site-header-image {
    fill: var(--secondary-color);
}

.site-header-link:hover .site-header-image,
.site-header-link:focus .site-header-image {
    fill: #111;
}

.site-header-logo {
    display: block;
}

.site-header-image {
    height: 3.005rem;
    width: 2.75rem;
}

/* Main content */
.main-content-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 70rem;
}
    @media screen and (max-width: 42rem) {
        .main-content-wrapper {
            padding-inline: 2rem;
        }
    }
    @media screen and (min-width: 42rem) {
        .main-content-wrapper {
            min-height: 100vh;
            padding-inline: 5rem;
        }
    }
    @media screen and (min-width: 64rem) {
        .main-content-wrapper {
            padding-inline: 10rem;
        }
    }

.main:not(.post-main) {
    background-image: url(/img/divider.svg);
    background-position: center top;
    background-repeat: no-repeat;
}
    @media screen and (max-width: 42rem) {
        .main:not(.post-main) {
            background-size: 15rem;
            padding-top: 3rem;
        }
    }
    @media screen and (min-width: 42rem) {
        .main:not(.post-main) {
            background-size: 30rem;
            padding-top: 6rem;
        }
    }

/* Footer */
.footer {
    margin-top: 6rem;
    margin-bottom: 2rem;
    text-align: center;
}

.footer_container_text {
    font-size: .8rem;
}

.footer a {
    color: #000;
}