.post-title {
    margin-bottom: 2rem;
}
    @media screen and (max-width: 42rem) {
        .post-title {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }
    @media screen and (min-width: 42rem) {
        .post-title {
            font-size: 2.8rem;
        }
    }
    @media screen and (min-width: 64rem) {
        .post-title {
            font-size: 3.5rem;
        }
    }

.post-article h1,
.post-article h2,
.post-article h3,
.post-article h4,
.post-article h5 {
    font-family: var(--title-font);
}

.post-article h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
    @media screen and (min-width: 50rem) {
        .post-article h2 {
            font-size: 2rem;
            line-height: 1.5;
            margin-top: 2.2rem;
        }
    }

.project-image-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
    @media screen and (min-width: 35rem) {
        .project-image-wrapper {
            flex-direction: row;
        }
    }

.post-article p,
.post-article li {
    max-width: 72ch;
}

.post-meta {
    margin-top: 5rem;
}
    @media screen and (min-width: 42rem) {
        .post-meta {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }

.post-date {
    color: var(--secondary-color);
}
    @media screen and (max-width: 42rem) {
        .post-date {
            display: block;
            margin-top: 1.5rem;
        }
    }

.post-tags {
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
}

.post-tags li {
    margin: 0;
    max-width: none;
}

.post-tag-link::before {
    content: "#";
}

.post-category {
    font-family: var(--title-font);
    font-style: italic;
}

.post-lead:first-of-type::first-letter {
    font-size: 3rem;
    float: left;
    line-height: .8em;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-top: 6px;
  }

p.post-lead {
    background-image: url(/img/divider_small.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 5rem;
    margin-bottom: 2.5rem;
    padding-bottom: 4rem;
}