.postlist {
    list-style: none;
    margin: 0;
}

.postlist-item {
    margin: 0;
    padding: .5rem 0;
    position: relative;
}
    @media screen and (min-width: 42rem) {
        .postlist-item {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }
    @media screen and (min-width: 42rem) {
        .postlist-item::after {
            content: "";
            border-bottom: 2px dotted #a29995;
            left: 0;
            position: absolute;
            right: 0;
            top: 29px;
        }
    }

.postlist-date {
    background-color: #fff;
    color: var(--secondary-color);
    padding-left: .625rem;
    position: relative;
    z-index: 1;
}
    @media screen and (max-width: 42rem) {
        .postlist-date {
            display: block;
            font-size: .8rem;
            padding-left: 0;
        }
    }

.postlist-link {
    background-color: #fff;
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    font-style: italic;
    padding-right: .5rem;
    position: relative;
    z-index: 1;
 }

 .more-posts {
    letter-spacing: .2rem;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
 }
    .more-posts a::after {
        content: "☞";
        font-size: 2rem;
        vertical-align: sub;
    }

 /* Latest post */

 .postlist-item-latest {
    text-align: center;
    margin-top: 0;
}

.postlist-item-latest .postlist-link {
    padding: 0;
}
    @media screen and (max-width: 42rem) {
        .postlist-item-latest .postlist-link {
            font-size: 1.8rem;
        }
    }
    @media screen and (min-width: 42rem) {
        .postlist-item-latest .postlist-link {
            font-size: 2.5rem;
        }
    }

.postlist-item-latest .postlist-lead {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.postlist-item-latest .postlist-meta {
    color: var(--secondary-color);
    font-style: italic;
}
    @media screen and (max-width: 42rem) {
        .postlist-item-latest .postlist-meta {
            font-size: .8rem;
        }
    }

.postlist-previous {
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin-top: 4rem;
}