---
layout: layouts/base.njk
permalink: /categories/
---

<h2>Categories</h2>

<ul>
    {% for cat in collections.categories %}
    {% set catUrl %}/categories/{{ cat | slugify }}/{% endset %}
        <li><a href="{{ catUrl }}" class="post-tag">{{ cat }}</a> + {{ posts.size }} +</li>
    {% endfor %}
</ul>