---
layout: layouts/home.njk
---
<h1>Category: {{ cat }}</h1>

{% set postslist = collections.posts | getByCategory(cat) %}
{% include "postslist.njk" %}

<p>List of <a href="/categories/">all categories</a></p>

{# This just doesn'T load at all #}