---
layout: layouts/base.njk
permalink: /categories/
---

<h2>Categories</h2>

<ul>
    {% for cat in collections.categories %}
        <li>{{cat}}</li>
    {% endfor %}
</ul>

{# This loads, but the list is empty #}