---
permalink: /tags/
layout: layouts/home.njk
---
<h1 class="listpage-title">Tags</h1>

<ul class="postlist">
    {% for tag in collections.tagList %}
        <li class="postlist-item">
            <a href="/tags/{{ tag.title | slug }}/" class="postlist-link">{{ tag.title }}</a>
            <span class="postlist-count">{{ tag.count.length }} post{% if tag.count.length >= 2 %}s{% endif %}</span>
        </li>
    {% endfor %}
</ul>
