<ol reversed class="postlist">
    {% for post in postslist | reverse %}
        {% if loop.first %}
            <li class="postlist-item-latest">
                <a href="{{ post.url }}" class="postlist-link">{{ post.data.title }}</a>

                <p class="postlist-lead">{{ post.data.lead | safe }}</p>

                <em class="postlist-meta">Published on <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("yyyy LLLL dd.") }}</time> in the 
                {% for ct in post | catTagList %}<span>{{ct.name}}</span>{% endfor %} category</em>


                <div class="postlist-previous">Previous posts</div>
            </li>
        {% else %}
            <li class="postlist-item">
                <a href="{{ post.url }}" class="postlist-link">{{ post.data.title }}</a>

                <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("yyyy LLLL dd.") }}</time>
            </li>
        {% endif %}
    {% endfor %}
</ol>