---
layout: layouts/base.njk
---
<article class="post-article">
    {% for cat in categories %}
        <div class="post-category"><a href="/categories/{{ cat | myEscape }}">{{ cat }}</a></div>
    {% endfor %}

    <h1 class="post-title">{{ title }}</h1>

    <p class="post-lead">{{ lead }}</p>

    {{ content | safe }}


    <div class="post-meta">
        <ul class="post-tags">
            {%- for tag in tags | filterTagList %}
                {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                <li><a href="{{ tagUrl }}" class="post-tag-link">{{ tag }}</a></li>
            {%- endfor %}
        </ul>

        <time datetime="{{ page.date | htmlDateString }}" class="post-date">{{ page.date | readableDate("yyyy LLLL dd.") }}</time>
    </div>
</article>